{
  "access_token": "ya29.your-access-token",
  "scope": "https://www.googleapis.com/auth/cloud-platform",
  "token_type": "Bearer",
  "id_token": "your-id-token",
  "expiry_date": 1234567890000,
  "refresh_token": "1//your-refresh-token"
}
